<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>고객관리페이지</title>
    <th:block layout:fragment="script">
    	<script src="../js/modifyContent.js"></script>
    </th:block>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        	<th:block th:include="fragments/header"></th:block>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
			<th:block th:include="fragments/leftMenu"></th:block>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">고객  정보</h2>
                            <p class="pageheader-text">Test</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">고객관리</a></li>
<!--                                         <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li> -->
                                        <li class="breadcrumb-item active" aria-current="page">고객정보</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- hoverable table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">고객정보리스트</h5>
                                <div class="card-body">
                                <div class="row">
                                		<div class="col-md-8"></div>
                                		<div class="col-md-1"> 
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInfo">
  												고객정보추가
											</button>
                                		</div>
										<div class="input-group mb-3 col-md-3">
											<form action="cmmInfo.do" method="get" class="input-group">
												<input type="text" name="keyword" class="form-control"/>
												<div class="input-group-append">
	                                				<input type="submit" class="btn btn-primary" value="검색"/>
                                				</div>
                                			</form>
                                		</div>
                                	</div>
                                	
                                    <table class="table table-hover "><!-- table-responsive -->
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">번호</th>
                                                <th scope="col">고객 이름</th>
                                                <th scope="col">통신사</th>
                                                <th scope="col">핸드폰번호</th>
                                                <th scope="col">주민번호</th>
                                                <th scope="col">신용등급</th>
                                                <th scope="col">연봉</th>
                                                <th scope="col">직장명</th>
                                                <th scope="col">직장구분</th>
                                                <th scope="col">재직유무</th>
                                                <th scope="col">자가유무</th>
                                                <th scope="col">주거종류</th>
                                                <th scope="col">지역</th>
                                                <th scope="col">수정</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="row: ${list}"  class="text-center">
                                                <th th:text="${rowStat.count}" scope="row"></th>
                                                <td th:text="${row.userName}"></td>
                                                <td th:text="${row.telecomType}"></td>
                                                <td th:text="${row.phoneId}"></td>
                                                <td th:text="${row.userSeq}"></td>
                                                <td th:text="${row.creditRating}"></td>
                                                <td th:text="${row.salary}"></td>
                                                <td th:text="${row.workName}"></td>
                                                <td th:text="${row.workType}"></td>
                                                <td th:text="${row.workYn}"></td>
                                                <td th:text="${row.carYn}"></td>
                                                <td th:text="${row.houseType}"></td>
                                                <td th:text="${row.location}"></td>
<!--                                                 <td><a href="javascript:setModifyInfo('test')" class="btn-sm btn-primary">수정</a></td> -->
                                                <td><a th:href="|javascript:setModifyInfo('${row.userName}','${row.telecomType}','${row.phoneId}','${row.userSeq}','${row.creditRating}','${row.salary}','${row.workName}','${row.workType}','${row.workYn}', '${row.carYn}','${row.houseType}','${row.location}', '${row.userNo}')|" th:text="수정" class="btn-sm btn-primary"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                	<div class="col-md-4"></div>
                                	<div class="col-md-4">
                                		<nav aria-label="Page navigation example">
                                        	<ul class="pagination" th:with="start=${T(Math).floor(list.number/10)*10 + 1},
                    							last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
<!--                     							<li class="page-item"><a class="page-link" th:href="@{/cmmlog.vw(page=1)}" aria-label="First"> -->
<!--         											<span aria-hidden="true">First</span> -->
<!--     											</a></li> -->
<!--                                             	<li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
                                            	<li th:class="${list.first} ? 'disabled'">
    												<a class="page-link" th:href="${list.first} ? '#' :@{/mng/cmmInfo.do(page=${list.number})}" aria-label="Previous">
        												<span aria-hidden="true">&lt;</span>
    												</a>
												</li>
                                                <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active'">
    												<a class="page-link" th:text="${page}" th:href="@{/mng/cmmInfo.do(page=${page})}"></a>
												</li>
                                                <li class="page-item" th:class="${list.last} ? 'disabled'">
    												<a class="page-link" th:href="${list.last} ? '#' : @{/mng/cmmInfo.do+(page=${list.number + 2})}" aria-label="Next">
        												<span aria-hidden="true">&gt;</span>
    												</a>
												</li>
											</ul>
                                		</nav>
                                	</div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end hoverable table -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- add Modal -->
					<div class="modal fade" id="addInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  						<div class="modal-dialog modal-lg" role="document">
                            <form action="addInfo.do" method="GET">
    							<div class="modal-content">
      								<div class="modal-header">
        								<h4 class="modal-title" id="ModalLabel">고객 정보 추가</h4>
        								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      								</div>
    	  							<div class="modal-body">
      									<div class="card">
                                			<div class="card-body">
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">고객이름</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
                                                			<input type="text" name="userName" placeholder="고객 이름을 적어주세요." class="form-control">
                                            			</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">연봉</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
	                                                		<input type="text" name="salary" placeholder="연봉을 적어주세요." class="form-control">
                                            			</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">고객 전화번호</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="phoneId" placeholder="번호를 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">통신사</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="telecomType" placeholder="통신사를 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">주민번호</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
                                                			<input type="text" name="userSeq" placeholder="주민번호를 적어주세요." class="form-control">
                                            			</div>
                                            			
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">신용등급</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="creditRating" placeholder="신용등급을 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">직장명</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="workName" placeholder="직장명을 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">직장구분</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="workType" placeholder="직장구분 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">재직유무</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                            	                		<label class="custom-control custom-checkbox custom-control-inline">
                        	                        		<input type="checkbox" class="custom-control-input" checked="checked" name="workYn" value="Y"><span class="custom-control-label">예</span>
                    	                        		</label>
                	                            		<label class="custom-control custom-checkbox custom-control-inline">
            	                                    		<input type="checkbox" class="custom-control-input" name="workYn" value="N"><span class="custom-control-label">아니오</span>
        	                                    		</label>
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">자가유무</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<label class="custom-control custom-checkbox custom-control-inline">
                        	                        		<input type="checkbox" class="custom-control-input" checked="checked" name="carYn" value="Y"><span class="custom-control-label">예</span>
                    	                        		</label>
                	                            		<label class="custom-control custom-checkbox custom-control-inline">
            	                                    		<input type="checkbox" class="custom-control-input" name="carYn" value="N"><span class="custom-control-label">아니오</span>
        	                                    		</label>
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">주거종류</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="houseType" placeholder="주거종류 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">지역</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" name="location" placeholder="지역을 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                			</div>
                            			</div>
	      							</div>
      								<div class="modal-footer">
        								<button type="submit" class="btn btn-primary">저장</button>
	        							<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    	  							</div>
    							</div>
                            </form>
  						</div>
					</div>
					<!-- modify Modal -->
					<div class="modal fade" id="modifyInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  						<div class="modal-dialog modal-lg" role="document">
                            <form action="modifyInfo.do" method="GET">
    							<div class="modal-content">
      								<div class="modal-header">
        								<h4 class="modal-title" id="ModalLabel">고객 정보 수정</h4>
        								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      								</div>
    	  							<div class="modal-body">
      									<div class="card">
                                			<div class="card-body">
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">고객이름</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
                                                			<input type="text" id="userName" name="userName" placeholder="고객 이름을 적어주세요." class="form-control">
                                            			</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">연봉</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
	                                                		<input type="text" id="salary" name="salary" placeholder="연봉을 적어주세요." class="form-control">
                                            			</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">고객 전화번호</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="phoneId" name="phoneId" placeholder="번호를 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">통신사</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="telecomType" name="telecomType" placeholder="통신사를 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">주민번호</label>
                                            			<div class="col-4 col-sm-4 col-lg-4">
                                                			<input type="text" id="userSeq" name="userSeq" placeholder="주민번호를 적어주세요." class="form-control">
                                            			</div>
                                            			
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">신용등급</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="creditRating" name="creditRating" placeholder="신용등급을 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">직장명</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="workName" name="workName" placeholder="직장명을 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">직장구분</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="workType" name="workType" placeholder="직장구분 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">재직유무</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                            	                		<label class="custom-control custom-checkbox custom-control-inline">
                        	                        		<input type="checkbox" class="custom-control-input" checked="checked" id="workYn" name="workYn" value="Y"><span class="custom-control-label">예</span>
                    	                        		</label>
                	                            		<label class="custom-control custom-checkbox custom-control-inline">
            	                                    		<input type="checkbox" class="custom-control-input" id="workYn" name="workYn" value="N"><span class="custom-control-label">아니오</span>
        	                                    		</label>
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">자가유무</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<label class="custom-control custom-checkbox custom-control-inline">
                        	                        		<input type="checkbox" class="custom-control-input" checked="checked" id="carYn" name="carYn" value="Y"><span class="custom-control-label">예</span>
                    	                        		</label>
                	                            		<label class="custom-control custom-checkbox custom-control-inline">
            	                                    		<input type="checkbox" class="custom-control-input" id="carYn" name="carYn" value="N"><span class="custom-control-label">아니오</span>
        	                                    		</label>
                                            		</div>
                                        		</div>
                                        		
                                        		<div class="form-group row">
                                            		<label class="col-2 col-sm-2 col-form-label text-sm-right">주거종류</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="houseType" name="houseType" placeholder="주거종류 적어주세요." class="form-control">
                                            		</div>
                                            		
                                            		<label class="col-1 col-sm-1 col-form-label text-sm-right">지역</label>
                                            		<div class="col-4 col-sm-4 col-lg-4">
                                                		<input type="text" id="location" name="location" placeholder="지역을 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		<input type="hidden" id="userNo" name="userNo"/>
                                			</div>
                            			</div>
	      							</div>
      								<div class="modal-footer">
        								<button type="submit" class="btn btn-primary">저장</button>
	        							<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    	  							</div>
    							</div>
                            </form>
  						</div>
					</div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
<!-- 	            <th:block th:include="fragments/footer"></th:block> -->
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    
	<!-- ============================================================== -->
    <!-- javascript -->
    <!-- ============================================================== -->
		<th:block th:include="fragments/script"></th:block>
	<!-- ============================================================== -->
    <!-- end javascript -->
    <!-- ============================================================== -->
    
</body>
 
</html>