<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>고객관리페이지</title>
<style type="text/css">
	.mb-3{
		margin-top: 10px
	}
</style>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        	<th:block th:include="fragments/header"></th:block>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
			<th:block th:include="fragments/leftMenu"></th:block>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">고객 이력 </h2>
                            <p class="pageheader-text">Test</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">고객관리</a></li>
<!--                                         <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li> -->
                                        <li class="breadcrumb-item active" aria-current="page">고객이력</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- hoverable table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                             	<h5 class="card-header">상담이력</h5>

                                <div class="card-body">
                                 	
                                 	<div class="row">
                                		<div class="col-md-8"></div>
                                		<div class="col-md-1"> 
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLog">
  												상담이력추가
											</button>
                                		</div>
										<div class="input-group mb-3 col-md-3">
											<input type="text" class="form-control"/>
											<div class="input-group-append">
<!-- 	                                			<button type="button" class="btn btn-primary">검색</button> original tag-->
	                                			<a href="#" class="btn btn-primary">검색</a>
                                			</div>
                                		</div>
                                	</div>
                                	
                                    <table class="table table-hover "><!-- table-responsive -->
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">번호</th>
                                                <th scope="col">날짜</th>
                                                <th scope="col">고객 번호</th>
                                                <th scope="col">고객 이름</th>
                                                <th scope="col">재콜</th>
                                                <th scope="col">내용</th>
                                                <th scope="col">기존부채현황</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="row: ${list}">
                                                <th th:text="${rowStat.count}" scope="row" class="text-center"></th>
                                                <td th:text="${row.logDt}" class="text-center"></td>
                                                <td th:text="${row.userNo}" class="text-center"></td>
                                                <td th:text="${row.userName}" class="text-center"></td>
                                                <td th:text="${row.retryCall}" class="text-left"></td>
                                                <td th:text="${row.rmk}" class="text-left"></td>
                                                <td th:text="${row.existCash}" class="text-left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end hoverable table -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- Modal -->
					<div class="modal fade" id="addLog" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  						<div class="modal-dialog modal-lg" role="document">
                            <form action="addLog.do" method="GET">
    							<div class="modal-content">
      								<div class="modal-header">
        								<h4 class="modal-title" id="ModalLabel">상담 이력 추가</h4>
        								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      								</div>
    	  							<div class="modal-body">
      									<div class="card">
                                			<div class="card-body">
                                        		<div class="form-group row">
                                            		<label class="col-12 col-sm-3 col-form-label text-sm-right">고객이름</label>
                                            			<div class="col-12 col-sm-8 col-lg-6">
                                                			<input type="text" name="userName" placeholder="고객 이름을 적어주세요." class="form-control">
                                            			</div>
                                        		</div>
                                        		<div class="form-group row">
                                            		<label class="col-12 col-sm-3 col-form-label text-sm-right">고객 전화번호</label>
                                            		<div class="col-12 col-sm-8 col-lg-6">
                                                		<input type="text" name="phoneId" placeholder="번호를 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		<div class="form-group row">
                                            		<label class="col-12 col-sm-3 col-form-label text-sm-right">재콜</label>
                                            			<div class="col-12 col-sm-8 col-lg-6">
                                                			<input type="text" name="retryCall" placeholder="재콜을 적어주세요." class="form-control">
                                            			</div>
                                        		</div>
                                        		<div class="form-group row">
                                            		<label class="col-12 col-sm-3 col-form-label text-sm-right">내용</label>
                                            		<div class="col-12 col-sm-8 col-lg-6">
                                                		<input type="text" name="rmk" placeholder="내용을 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                        		<div class="form-group row">
                                            		<label class="col-12 col-sm-3 col-form-label text-sm-right">기존부채현황</label>
                                            		<div class="col-12 col-sm-8 col-lg-6">
                                                		<input type="text" name="existCash" placeholder="기존부채현황 적어주세요." class="form-control">
                                            		</div>
                                        		</div>
                                			</div>
                            			</div>
	      							</div>
      								<div class="modal-footer">
        								<button type="submit" class="btn btn-primary">저장</button>
	        							<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    	  							</div>
    							</div>
                            </form>
  						</div>
					</div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
<!-- 	            <th:block th:include="fragments/footer"></th:block> -->
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    
	<!-- ============================================================== -->
    <!-- javascript -->
    <!-- ============================================================== -->
		<th:block th:include="fragments/script"></th:block>
	<!-- ============================================================== -->
    <!-- end javascript -->
    <!-- ============================================================== -->
    
</body>
 
</html>