<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="headerFragment">
		<!-- ============================================================== -->
		<!-- pageheader -->
		<!-- ============================================================== -->
        	<div class="row">
        		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                	<div class="page-header">
                    	<h2 class="pageheader-title">고객 이력 </h2>
                        <p class="pageheader-text">Test</p>
                        	<div class="page-breadcrumb">
                            	<nav aria-label="breadcrumb">
                                	<ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">고객관리</a></li>
<!--                                         <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li> -->
                                        <li class="breadcrumb-item active" aria-current="page">고객이력</li>
                                    </ol>
                                </nav>
                            </div>
					</div>
				</div>
			</div>
		<!-- ============================================================== -->
		<!-- end pageheader -->
		<!-- ============================================================== -->
	</header>
</html>



